<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">

        <a class="navbar-brand" routerLink="/">Parduotuvė</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.canViewData()" aria-current="page" routerLink="products/list">Prekių sąrašas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="authService.canEdit()" aria-current="page" routerLink="products/new">Pridėti naują prekę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " *ngIf="authService.canViewData()" aria-current="page" routerLink="/orders/list">Užsakimų sąrašas</a>
                </li>
                <li class="nav-item" *ngIf="authService.canEdit()">
                    <a class="nav-link " aria-current="page" routerLink="/orders/new">Pridėti naują užsakymą</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " *ngIf="authService.canEditUsers()" routerLink="users/list" aria-current="page">Vartotojų sąrašas</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <a routerLink="/auth/signin" class="btn btn-info mx-3" *ngIf="!isLoggedin">Registruotis</a>
            <a routerLink="/auth/login" class="btn btn-success" *ngIf="!isLoggedin">Prisijungti</a>

            <a routerLink="/profile" class="btn btn-success mx-3" *ngIf="isLoggedin">Vartotojo profilis</a>
            <button class="btn btn-primary" (click)="logoutClick()" *ngIf="isLoggedin">Atsijungti</button>
        </div>
    </div>
</nav>